# run sxhkd with Bourne shell
export SXHKD_SHELL='/usr/bin/sh'

# dpms, keyboard repeat, cursor icon
xset dpms 600 1800 3600
xset r rate 350 60
xsetroot -cursor_name right_ptr

# run a few necessary programs
sxhkd &
nitrogen --set-zoom-fill --random &
picom &
tint2 -c $HOME/.config/tint2/midday.tint2rc &
conky --config=$HOME/.config/conky/midday.conf &
